{
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "curly": [2, "multi-line"],
        "eol-last": [2],
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "max-len": [2, 120, 4],
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "no-unused-vars": [2, {"args": "after-used", "varsIgnorePattern": "^_"}],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "strict": [2, "never"],
        "brace-style": [2, "1tbs", { "allowSingleLine": false }]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "AndroidInterface": true,
        "window": true,
        "Cookie": true,
        "vlen": true,
        "WebKitCSSMatrix": true,
        "Vector": true,
        "DrawPath": true,
        "ScratchJr": true,
        "Runtime": true,
        "Localization": true,
        "iOS": true,
        "Settings": true,
        "BlockSpecs": true,
        "Block": true,
        "BlockArg": true,
        "Stage": true,
        "Project": true,
        "Scroll": true,
        "Thread": true,
        "Scripts": true,
        "ScratchAudio": true,
        "Library": true,
        "Paint": true,
        "Record": true,
        "Prims": true,
        "Undo": true,
        "Events": true,
        "Menu": true,
        "IO": true,
        "UI": true,
        "Thumbs": true,
        "Grid": true,
        "Alert": true,
        "Palette": true,
        "ScriptsPane": true,
        "MediaLib": true,
        "Sprite": true,
        "Rectangle": true,
        "Matrix": true,
        "Page": true,
        "Home": true,
        "Lobby": true,
        "Samples": true,
        "Camera": true,
        "Ghost": true,
        "Layers": true,
        "Paint": true,
        "PaintAction": true,
        "PaintIO": true,
        "PaintLayout": true,
        "PaintUndo": true,
        "SVGTools": true,
        "SVGImage": true,
        "Transform": true,
        "Layer": true,
        "Path": true,
        "xform": true,
        "selxform": true,
        "SVG2Canvas": true,
        "JSZip": true,
        "Snap": true,
        "IntlMessageFormat": true,
        "Sound": true,
        "webkitAudioContext": true
    },
    "extends": "eslint:recommended"
}
