/android/ScratchJr/app/src/main/gen/
/node_modules
/src/build/
.DS_Store
*.iml
.gradle

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

.idea/caches/*
.idea/modules.xml
/android/ScratchJr/.idea/caches
/android/ScratchJr/.idea/modules.xml
ios/Pods
google-services.json
GoogleService-Info.plist

# include for CI
!editions/free/android-resources/google-services.json
