html, body, {
    color: #4c4d4f;
    direction: ltr;
    background: #35A8E0;
    font: 81.25% Roboto, arial, sans-serif;
    -webkit-user-select: none;
    height: 100%;
}

div.frame {
    width: 100%;
    height: 100%;
    position: relative;
    background: #35A8E0;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
}

*.catlogo {
    position: absolute;
    top: 127px;
    left: 284px;
    margin: 0px;
    width: 468px;
    height: 300px;
    z-index: 10;
    background: url('../assets/start/catlogo.png');
}

*.credits {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45%;
    background: url('../assets/start/bottom.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 20;
}

*.creditsText {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45%;
    background: url('../assets/start/creditsText.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 45%;
    z-index: 21;
}

.credits.hide, .creditsText.hide {display: none;}
.credits.show, .creditsText.show {display: block;}

*.catface {
    position: absolute;
    top: 18%;
    margin: 0px;
    height: 22%;
    z-index: 5;
    background: url('../assets/start/Cat.svg');
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

*.jrlogo {
    position: absolute;
    top: 39%;
    width: 100%;
    margin: 0px;
    height: 16%;
    z-index: 10;
    background: url('../assets/start/ScratchJrLogo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

*.purple {
    position: absolute;
    top: 7%;
    left: 15%;
    margin: 0px;
    width: 100%;
    height: 26%;
    background: url('../assets/start/FunkyPurple.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.purple.hide {display: none;}
.purple.show {display: block;}

*.red {
    position: absolute;
    top: -18%;
    left: 65%;
    margin: 0px;
    width: 100%;
    height: 54%;
    z-index: 2;
    background: url('../assets/start/FunkyRed.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.red.hide {display: none;}
.red.show {display: block;}

*.blue {
    position: absolute;
    top: 46%;
    left: 87%;
    margin: 0px;
    width: 100%;
    height: 23%;
    background: url('../assets/start/FunkyBlue.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 21;
}

.blue.hide {display: none;}
.blue.show {display: block;}

.gettings {
    position: absolute;
    top: 65%;
    left: 59%;
    margin: 0px;
    width: 17%;
    height: 22%;
    background: url('../assets/start/helpOn.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.gettings:active {
    background: url('../assets/start/helpOff.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
}

.gettings.hide {display: none;}
.gettings.show {display: block;}

.gear.hide {display: none;}
.gear.show {display: block;}

.gear {
    position: absolute;
    top: 10px;
    right: 25px;
    background: url('../assets/lobby/gearOff.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
    width: 60px;
    height: 60px;
}

.startcode {
    position: absolute;
    top: 65%;
    left: 24%;
    margin: 0px;
    width: 17%;
    height: 22%;
    background: url('../assets/start/houseOn.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.startcode.hide {display: none;}
.startcode.show {display: block;}

.startcode:active {
    background: url('../assets/start/houseOff.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
}

.rays.hide, .catface.hide, .jrlogo.hide, .frame.hide {display: none;}

.rays {
    position: absolute;
    top: -48%;
    width: 100%;
    margin: 0px;
    height: 160%;
    background: url('../assets/start/rays.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.rays.spinme{
    -webkit-animation:spin 8s infinite linear;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(36deg); }
}

/* Analytics Info Page Elements */

.usageQuestion {
    position: absolute;
    width: 60%;
    height: 35%;
    top: 15%;
    left: 20%;
    color: white;
    font-size: 5em;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 4px #333333;
}

.usageQuestion.hide {display: none;}
.usageQuestion.show {display: block;}

.usageIcon {
    width: 100%;
    margin-left: 3%;
}
.usageText {
    color: #999999;
    font-size: 2em;
    text-align: center;
    margin-top: .5em;
}

.usageSchool {
    position: absolute;
    top: 45%;
    left: 17%;
    margin: 0px;
    width: 17%;
    height: 30%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageSchool.hide {display: none;}
.usageSchool.show {display: block;}

.usageHome {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 17%;
    height: 30%;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageHome.hide {display: none;}
.usageHome.show {display: block;}

.usageOther {
    position: absolute;
    top: 45%;
    left: 67%;
    margin: 0px;
    width: 17%;
    height: 22%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageOther.hide {display: none;}
.usageOther.show {display: block;}

.usageNoanswer {
    position: absolute;
    width: 50%;
    height: 15%;
    top: 90%;
    left: 25%;
    text-align: center;
    z-index: 25;
}
.usageNoanswerText {
    color: #35A8E0;
    font-size: 1.8em;
}

.usageNoanswer.hide {display: none;}
.usageNoanswer.show {display: block;}

/* TODO: make font sizes relative!! */
/* Usage text boxes */
.usage-text {
    position: absolute;
    width: 20%;
    height: 15%;
    top: 75%;
    background-color: #35A8E0;
    border: none;
    color: white;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.usage-text.school {
    left: 10%;
}

.usage-text.home {
    left: 40%;
}

.usage-text.other {
    left: 70%;
}

.usage-text.dont-ask {
    top: 90%;
    right: 2%;
    height: 10%;
    width: 20%;
    font-size: 20px;
    text-align: right;
}

